version: '3.8'

services:
  database:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: propfirm
    ports:
      - "5435:5432"
    # volumes:
    #   - ./postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6380:6379"
    command: redis-server --save 60 1 --loglevel warning

# volumes:
#   postgres_data:
